@model FormCollection
@{
    ViewBag.Title = "Aktywacja konta";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@ViewBag.ActivationStatus
<div class="span10" style="height: 40px"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
