@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        EasyERP program napisany na zaliczenie przedmiotu "Projekt" 6 semestru studiów zaocznych.
    </p>

    <p>
        Projekt napisany w technologii ASP.net MVC 4
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Projekt stworzyli:</h3>
    <p>Paweł Puchalski</p>
    <p>Władek Polek</p>
    <p>Jacek Gałka</p>
    <p>Marcin Bryl<p>
</aside>