@{
    ViewBag.Title = "Kontakt";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefony:</h3>
    </header>
    <p>
        <span class="label">Główny:</span>
        <span>0-48 321 321 321</span>
    </p>
    <p>
        <span class="label">Dział sprzedaży:</span>
        <span>0-48 321 321 321</span>
    </p>
    <p>
        <span class="label">Księgowość:</span>
        <span>0-48 321 321 321</span>
    </p>
    <p>
        <span class="label">Dział wsparcia:</span>
        <span>0-48 321 321 321</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Emaile:</h3>
    </header>
    <p>
        <span class="label">Główny:</span>
        <span><a href="mailto:glowny@easyerp.com">glowny@easyerp.com</a></span>
    </p>
    <p>
        <span class="label">Dział sprzedaży:</span>
        <span><a href="mailto:sprzedaz@easyerp.com">sprzedaz@easyerp.com</a></span>
    </p>
    <p>
        <span class="label">Księgowość:</span>
        <span><a href="mailto:ksiegowosc@easyerp.com">ksiegowosc@easyerp.com</a></span>
    </p>
    <p>
        <span class="label">Dział wsparcia:</span>
        <span><a href="mailto:wsparcie@easyerp.com">wsparcie@easyerp.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres:</h3>
    </header>
    <p>
        ul. Wita Stwosza 57<br />
        80-952, Gdańsk
    </p>
</section>
<div class="span10" style="height:100px"></div>